.DS_Store
.git/config
Thumbs.db
Desktop.ini

log/*.log
tmp/**/*
doc/api
doc/app
*.log
*.sqlite3
*.cache
*.psd
metrics/*
metrics/coverage/*
metrics/coverage
log/*
tmp/*
public/pdfs/*

config/database.yml
public/pdfs/handouts/*
