- @sub_title = "Funding Traction in Scalable Businesses"

.spacer_25
.spacer_50

#splash.white
  %h3 $1000 for your company from the Northwestern community

  %h3 No strings attached.

.spacer_25
.spacer_50