@charset "UTF-8";
body {
  background: #CCC;
  margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
  padding: 20px 0 20px 0;
  text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
  color: #000000;  
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 100%;
}

H1 a {
  color: #000;
}

h2{
  color: #FFFFFF;
}

input, textarea {
  background: black none repeat scroll 0 0;
  border: thin solid #FFFFFF;
  color: #CCC;
  font-size: large;
  padding: 3px;
  width: 672px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin: 5px 0;
}

label {
  color: #FFF;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 100%;
  font-size: 1.4em;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.left_margin_15{
  margin-left: 15px;
}

.bold {
  font-weight: bold;
}

.white{
  color: #FFFFFF;
}

.red {
  color: #520063;
}

.italic{
  font-style: italic;
}

.spacer_200{
  height: 200px;
}

.spacer_100{
  height: 100px;
}

.spacer_25{
  height: 25px;
}

.spacer_50{
  height: 50px;
}

.font_16{
  font-size: 16px;
}

.font_18{
  font-size: 18px;
}

.oneColFixCtr #container {
  width: 960px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
  background: #520063;
  margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
  border: 1px solid #520063 ;
  
  text-align: left; /* this overrides the text-align: center on the body element. */
}

#headline{
  margin:20px;
  letter-spacing:-1px;
}

#navigation{
  width: 500px;
  float: right;
  margin-right: 20px;
  margin-top: 21px;
  font-size: 25px;
}

#navigation ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#navigation li{
  float: left;
  margin-right: 10px;
}

#navigation .bar{
  border-right: 2px solid #FFF;
  padding-right: 10px;
}

#navigation a, #navigation a:visited, #rightcolumn a, #rightcolumn a:visited{
  color: #FFF;
  text-decoration: none;
}

#footer {
  margin: 10px;
}

#footer, #footer a, #footer a:visited{
  color: #CCCCCC;
  text-decoration: none;
}

#footer .footer{
  margin: 0px 10px;
}

#splash h2{
  color: #FFFFFF;
}

.oneColFixCtr #mainContent {
  padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}

#leftcolumn {
  color:#CCCCCC;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin: 20px;
  padding: 20px;
  margin-top:50px;
  width: 680px;
  background:#000000;
}

#leftcolumn a {
  color: #CCCCCC;
  font-size: 1.2em;
}

#leftcolumn li {
  list-style-type: none;
  margin: 5px 0;
}

#leftcolumn ol li {
  list-style-type: inherit;
}

#rightcolumn {
  float: right;
  width: 200px;
  padding: 27px 10px 10px 10px;
  font-weight: bold;
  font-size: 16px;
}

.pagetitle {
  font-size:60px;
  font-weight:bold;
  font-family:Helvetica, Verdana, Arial, sans-serif;
  color:#FFFFFF;
}

.pagetitle a {
  color: #FFF;
  text-decoration: none;
}

#dictionary a{
  font-size: 1em;
}

#dictionary p, #dictionary ol{
  margin: 10px 0px;
}

#faq ul{
  padding: 0px;
}

.align_submit_200{
  margin: 0 auto;
  width: 200px;
}

.align_submit_100{
  margin: 0 auto;
  width: 100px;
}

#submitbutton {
}

#mc-embedded-subscribe{
  font-size: 15px;
  width: 199px;
}

#mce-EMAIL{
  font-size: 15px;
  width: 191px;
}