%h2
  ScaleWell Dictionary

#dictionary
  %p
    %span.bold.red ScaleWell
    %span.italic noun
    %ol
      %li A group formed to foster traction in early-stage companies.
      %li= link_to "@scaleswell", "http://www.twitter.com/scaleswell"

  %p
    %span.bold.red Traction
    %span.italic noun
    %ol
      %li The willingness of customers to pay for a product.
      %li The secret ingredient for propelling an idea or project into a business.

  %p
    %span.bold.red Scalability
    %span.italic adjective
    %ol
      %li The ability to increase size and capacity in cost-effective increments
      %li More profit as more product is sold

  %p
    %span.bold.red Iterative Capital
    %span.italic noun
    %ol
      %li Fueling innovation through repeated small capital infusions granted for specific goals
      %li A commitment to not giving millions to an idea that can thrive on thousands
    
  %p
    %span.bold.red Trustee
    %span.italic noun
    %ol
      %li A person or organization giving $100 dollars to a ScaleWell grant
      %li A person or organization involved in the selection and mentorship of ScaleWell companies