%h2
  ScaleWell FAQ

#faq
  %p
    %span.bold.red  Can I submit more than one application?
    %ul
      %li You can submit multiple applications if the team members and project are    |
      sufficiently different.  For example, you could submit a project built entirely |
      by yourself and another you are incubating with two friends.  If you have more  |
      ideas - don't worry - just wait until the next grant period for ScaleWell.      |
  %p
    %span.bold.red  Can I be a trustee and an applicant simultaneously?
    %ul
      %li Unfortunately, you cannot be an applicant and a trustee at the same time.   |
      Providing feedback and mentorship for your own company might pose a conflict of |
      interest. |
  %p
    %span.bold.red  Is this altruistic or do you have ulterior motives?  
    %ul
      %li ScaleWell is currently an altruistic project intended to provide            |
      recognition, motivation, and support for startups at the ground level.          |
      Chicago, specifically, lacks an infrastructure to support companies at this     |
      level and help educate entrepreneurs about company growth.  However, we are not |
      opposed to growing into a profitable enterprise in the future IF we develop a   |
      revenue stream that does not dilute the value of ScaleWell.                     |
  %p
    %span.bold.red My business idea is a secret will the applications be made public?
    %ul
      %li We will not release the applications to the general public.

%h2
  ScaleWell Dictionary

#dictionary
  %p
    %span.bold.red ScaleWell
    %span.italic noun
    %ol
      %li A group formed to foster traction in early-stage companies.
      %li= link_to "@scaleswell", "http://www.twitter.com/scaleswell"

  %p
    %span.bold.red Traction
    %span.italic noun
    %ol
      %li The willingness of customers to pay for a product.
      %li The secret ingredient for propelling an idea or project into a business.

  %p
    %span.bold.red Scalability
    %span.italic adjective
    %ol
      %li The ability to increase size and capacity in cost-effective increments
      %li More profit as more product is sold

  %p
    %span.bold.red Iterative Capital
    %span.italic noun
    %ol
      %li Fueling innovation through repeated small capital infusions granted for specific goals
      %li A commitment to not giving millions to an idea that can thrive on thousands
    
  %p
    %span.bold.red Trustee
    %span.italic noun
    %ol
      %li A person or organization giving $100 dollars to a ScaleWell grant
      %li A person or organization involved in the selection and mentorship of ScaleWell companies
      