- @sub_title = "Funding Traction in Scalable Businesses"

%h2 $1000 to build your company, no strings attached!

%p
  How much product could you build for $1000?
  How many customers could you acquire?
  How far can you go towards becoming profitable?
  
%p
  We help entrepreneurs get traction in their business.
  Traction is the secret sauce of success in early stage startups.
  Traction means proving that people want to pay for your product, and that they will pay more for it than it costs you to produce.
  The best way to prove anything about a business is to do it: build product, get customers, collect metrics.
  With a little traction, 
  a business may be making enough revenue to sustain itself and bootstrap, 
  or have demonstrated enough about the market to interest investors.
  
%h2
  What is a scalable business?
  
%p
  There are a lot of different definitions of scalability in a business, they basically boil down to the business making more profit the more product it sells.  
  For our purposes, we are usually talking about businesses with software products and businesses who deliver their product electronically.
  
%h2
  Why give money to scalable businesses?
  
%p
  We like entrepreneurs and want to help create more successful companies.
  Scalable businesses are able to grow quickly and succeed.
  Scalable businesses are rarely wildly profitable in their early stages, 
  it often takes some time to build a product and to understand how to repeatably get new customers.
  We want to assist businesses in that early stage and see them grow.
  