%p
  ScaleWell grants are also operating in the broader Chicago community.
  Sign up for the ScaleWell mailing list to be notified when new grants open.

%h2
  ScaleWell Grant 1

%p
  We are happy to announce 
  %span.white
    =link_to "Michael Una", "http://una-love.com/munablog/"
  of Unatronics as the winners of the first ScaleWell grant!

%p
  There were 42 applications to this grant round, many of them are promising companies. 
  Narrowing down the pool was no easy task! 
  Thanks again to the trustees who participated in the interview process 
  and thanks to everyone who attended the grant party.

%h3.white
  Grant 1 sponsors include:
  
%ul
  %li
    = link_to "Office Port Chicago", "http://www.officeportchi.com/"
  %li
    = link_to "Ramone De Leon and Dominoes Pizza", "http://twitter.com/Ramon_DeLeon"  