%h2 $1000 for your company

%p
  Traction is the secret sauce of success in early stage startups and can be achieved with ever-decreasing amounts of capital.
  Simply stated, traction is proving that customers are willing to pay for your product.
  Traction can enable a business to sustain itself through bootstrapping, prove market interest, and attract investment.

%p
  ScaleWell is a catalyst for startup traction -
  providing one team or an individual entrepreneur with a $1000 grant on a quarterly basis to help explore important questions like:
  How many customers can be acquired for $1000 or
  how far will a small sum move a company toward profitability?
  The best way to develop answers to these questions is to DO IT.
  Build the product, get customers, and collect metrics along the way.

%p
  The small amount of capital ScaleWell injects into a startup takes the company to its next milestone or iteration on its business plan.
  We call it Iterative Capital, just enough money, motivation, and support to successfully iterate in a startup.
  
%h2
  Why scalable businesses?
  
%p
  Scalability has many definitions but the core concept is a business that makes more profit the more product it sells.
  This asymmetry of revenues and costs means the business has the potential to be very profitable, grow rapidly and produce long lasting value.

%p
  For our purposes, we are usually talking about businesses with software products and businesses who deliver their product electronically.
  However, we entertain awarding grants to all types of businesses.
  
%h2
  Giving money with no return? Are you crazy?
  
%p
  It's not rocket science.  The ScaleWell trustees like entrepreneurs and want to help create more successful and innovative companies.
  Getting traction at an early-stage helps reduce the time necessary to build a scalable product and repeatably acquire new customers.
  ScaleWell provides capital and support at the lowest possible entry point.
