<!-- Begin MailChimp Signup Form -->
<!--[if IE]>
<style type="text/css" media="screen">
	#mc_embed_signup fieldset {position: relative;}
	#mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
</style>
<![endif]--> 

<!--[if IE 7]>
<style type="text/css" media="screen">
	.mc-field-group {overflow:visible;}
</style>
<![endif]--><script type="text/javascript">
// delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
// or fill this in and it will be inlined when errors are generated
var mc_custom_error_style = '';
</script>
<script type="text/javascript" src="http://scalewell.us1.list-manage.com/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="http://scalewell.us1.list-manage.com/js/jquery.validate.js"></script>
<script type="text/javascript" src="http://scalewell.us1.list-manage.com/js/jquery.form.js"></script>
<script type="text/javascript" src="http://scalewell.us1.list-manage.com/subscribe/xs-js?u=69af1d0a4e76ad2a83747fc57&amp;id=cd599cf255"></script>
<div id="mc_embed_signup">
<form action="http://scalewell.us1.list-manage.com/subscribe/post?u=69af1d0a4e76ad2a83747fc57&amp;id=cd599cf255" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <div class="mc-field-group">
    <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div id="mce-responses">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
</form>
</div>
<!--End mc_embed_signup-->

