#navigation
  %ul
    %li.bar
      = link_to "About", about_path
    %li.bar
      = link_to "Apply", new_entry_path
    %li.bar
      = link_to "Dictionary & FAQ", dictionary_path
    %li
      = link_to "Trustees", trustees_path
