%p{:style => "margin-top: 0px"}
  %span.white ScaleWell:
  Entrepreneurs providing startups with capital to reach 
  %span.white milestones 
  and gain 
  %span.white traction

%div
  Join the conversation:
%div.white.font_18{:style => "margin: 2px;"}
  = link_to "- ScaleWell News", "http://news.scalewell.com"
%div.white.font_18{:style => "margin: 2px;"}
  = link_to "- ScaleWell Blog", "http://scalewell.posterous.com"
%div.white.font_18{:style => "margin: 2px;"}
  = link_to "- @ScalesWell", "http://twitter.com/scaleswell"


%div{:style => "margin-top: 20px;"}
  Mailing List
=render :partial => "layouts/mail_chimp" unless Rails.env.development?
